.card-list{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.stat-buts{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.stats-title{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}