.header-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    /* border-bottom: 1px solid black; */
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #202A44;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 2px 0px #2C2C2B;
    background-color: white;
}